body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
}
*, ::before, ::after {
  box-sizing: border-box;
}
p, h1 {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
td, th {
  padding: 0.75rem;
  border-top: 1px solid #DEE2E6;
  text-align: left;
}
.hidden {
  display: none;
}