<template>
  <b-container>
    <b-jumbotron>
      <template slot="header">
        VideoSkip
        <img src="/logo.svg" width=96 height=96>
      </template>

      <template slot="lead">
        Automatically skip content in videos.<br>
        With {{ count }} videos cataloged.
      </template>

      <hr class="my-4">

      <p>
        Get the extension below.
      </p>

      <b-button class="chrome mb-1" href="https://chrome.google.com/webstore/detail/videoskip/mjcklmpkpmikkibkohkbnhaapikemajh">
        Download for Chrome
        <fa :icon="['fab', 'chrome']"/>
      </b-button>
      <b-button class="firefox mb-1" href="https://addons.mozilla.org/en-US/firefox/addon/videoskip/">
        Download for Firefox
        <fa :icon="['fab', 'firefox']"/>
      </b-button>
      <span title="Not yet available">
        <b-button class="opera mb-1" href="#" disabled>
          Download for Opera
          <fa :icon="['fab', 'opera']"/>
        </b-button>
      </span>
    </b-jumbotron>

    <p>
      Hello and welcome to VideoSkip! VideoSkip is currently in Alpha.
      Feel free to contribute, either by adding video timestamps, or becoming a code contributor.
      <a href="https://gitlab.com/jeremyvs">Message me</a> if you have any suggestions or create issues on the project page.
    </p>
  </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      count: '...'
    }
  },

  mounted () {
    return axios.get(`${process.env.API_URL}/videos/count/`).then(res => {
      this.count = res.data.count.toLocaleString()
    }).catch(error => {
      console.error(error)
    })
  }
}
</script>

<style>
.chrome {
  background-color: #28a745;
  border-color: #28a745;
}
.chrome:hover {
  background-color: #0F8E2C;
  border-color: #0F8E2C;
}
.chrome:active {
  background-color: #0F8E2C !important;
  border-color: #0F8E2C !important;
}
.firefox {
  background-color: #fd7e14;
  border-color: #fd7e14;
}
.firefox:hover {
  background-color: #E46500;
  border-color: #E46500;
}
.firefox:active {
  background-color: #E46500 !important;
  border-color: #E46500 !important;
}
.opera {
  background-color: #dc3545;
  border-color: #dc3545;
}
.opera:hover {
  background-color: #C31C2C;
  border-color: #C31C2C;
}
.opera:active {
  background-color: #C31C2C !important;
  border-color: #C31C2C !important;
}
</style>
