<template>
  <b-container>
    <template v-if="signedIn">
      <h1>Hi {{ $store.state.profileInfo.username }}!</h1>

      <b-nav tabs class="mb-3">
        <b-nav-item href="#contributions" :active="$route.hash === '' || $route.hash == '#contributions'">
          Contributions
        </b-nav-item>

        <b-nav-item href="#requests" :active="$route.hash === '#requests'">
          Requests
        </b-nav-item>

        <b-nav-item
          href="#moderation"
          :active="$route.hash === '#moderation'"
          v-if="isModerator"
        >
          Moderation
        </b-nav-item>

        <b-nav-item href="#settings" :active="$route.hash === '#settings'">
          Settings
        </b-nav-item>
      </b-nav>

      <Contributions v-if="$route.hash === '' || $route.hash == '#contributions'"></Contributions>

      <template v-if="$route.hash === '#requests'">
        <p>Any requests you've made will show up here.</p>

        <ModQueue></ModQueue>
      </template>

      <template v-if="isModerator && $route.hash === '#moderation'">
        <p>Any requests that are awaiting approval will show here.</p>

        <ModQueue moderation></ModQueue>
      </template>

      <template v-if="$route.hash === '#settings'">
        <ChangePassword></ChangePassword>
      </template>
    </template>
    <template v-else>
      Please <nuxt-link to="/sign-in">sign in</nuxt-link> to view you profile.
    </template>
  </b-container>
</template>

<script>
import Contributions from '~/components/Contributions.vue'
import ModQueue from '~/components/ModQueue.vue'
import ChangePassword from '~/components/ChangePassword.vue'

export default {
  components: {
    Contributions,
    ModQueue,
    ChangePassword
  },

  computed: {
    signedIn () {
      return this.$store.state.profile.apiKey !== ''
    },
    isModerator () {
      return this.$store.state.profileInfo.is_moderator
    }
  }
}
</script>
