<template>
  <b-container>
    <b-nav tabs class="mb-3">
      <b-nav-item href="#sign-in" :active="$route.hash === '' || $route.hash == '#sign-in'">
        Sign in
      </b-nav-item>
      <b-nav-item href="#register" :active="$route.hash === '#register'">
        Register
      </b-nav-item>
      <b-nav-item href="#forgot" :active="$route.hash === '#forgot'">
        Forgot password
      </b-nav-item>
    </b-nav>

    <b-form @submit="signIn" v-if="$route.hash === '' || $route.hash === '#sign-in'">
      <!-- This will show up after confirming registration and confirming password resets. -->
      <b-alert variant="success" :show="registerConfirmed">Confirmed! Please sign in.</b-alert>

      <b-form-group label="Username or email" label-for="sign-in-username">
        <b-form-input
          id="sign-in-username"
          v-model="signInForm.username"
          required
          placeholder="Enter username or email"
        ></b-form-input>
      </b-form-group>

      <b-form-group label="Password" label-for="sign-in-password">
        <b-form-input
          id="sign-in-password"
          v-model="signInForm.password"
          required
          placeholder="Enter password"
          type="password"
        ></b-form-input>
      </b-form-group>

      <b-button type="submit" variant="primary">Sign in</b-button>

      <p class="text-danger mt-2">{{ loginError }}</p>
    </b-form>

    <template v-if="$route.hash === '#register'">
      <b-form @submit="register" v-if="registerSuccess === ''">
        <p>You only need to register for an account if you would like to contribute to VideoSkip!</p>

        <b-form-group
          label="Email address"
          label-for="register-email"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="register-email"
            v-model="registerForm.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Username" label-for="register-username">
          <b-form-input
            id="register-username"
            v-model="registerForm.username"
            required
            placeholder="Enter username"
          ></b-form-input>
        </b-form-group>

        <b-form-group label="Password" label-for="register-password">
          <b-form-input
            id="register-password"
            v-model="registerForm.password"
            required
            placeholder="Enter password"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Confirm password"
          label-for="register-confirm-password"
          v-bind:description="passwordSame"
        >
          <b-form-input
            id="register-confirm-password"
            v-model="registerForm.passwordConfirm"
            required
            placeholder="Enter password"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group v-bind:description="tosAccepted">
          <b-form-checkbox v-model="registerForm.tos">I accept the Terms of Service</b-form-checkbox>
        </b-form-group>

        <b-button type="submit" variant="primary">Register</b-button>

        <p class="text-danger mt-2">{{ registerError }}</p>
      </b-form>

      <p class="text-success mt-2">{{ registerSuccess }}</p>
    </template>

    <template v-if="$route.hash === '#forgot'">
      <b-form @submit="forgot" v-if="!forgotSuccess && !forgotConfirmed">
        <b-form-group
          label="Email address"
          label-for="forgot-email"
        >
          <b-form-input
            id="forgot-email"
            v-model="forgotForm.email"
            type="email"
            required
            placeholder="Enter email"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Send password reset</b-button>

        <p class="text-danger mt-2">{{ forgotError }}</p>
      </b-form>

      <p class="text-success mt-2" v-if="forgotSuccess || forgotConfirmed">
        If the email providided was correct, a password reset link has been sent to your email.
      </p>
    </template>
  </b-container>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      registerForm: {
        email: '',
        username: '',
        password: '',
        passwordConfirm: '',
        tos: false
      },
      passwordSame: '',
      tosAccepted: '',
      registerError: '',
      registerSuccess: '',
      signInForm: {
        email: '',
        username: '',
        password: ''
      },
      loginError: '',
      forgotForm: {
        email: ''
      },
      forgotError: '',
      forgotSuccess: false
    }
  },

  computed: {
    registerConfirmed () {
      return this.$route.query.success !== undefined
    },
    forgotConfirmed () {
      return this.$route.query.sent !== undefined
    }
  },

  methods: {
    register (evt) {
      evt.preventDefault()
      this.passwordSame = this.tosAccepted = this.registerError = ''

      if (this.registerForm.password !== this.registerForm.passwordConfirm) {
        this.passwordSame = 'The passwords are different.'
        return
      }

      if (!this.registerForm.tos) {
        this.tosAccepted = 'The Terms of Service must be accepted.'
        return
      }

      axios.post(`${process.env.API_URL}/rest-auth/registration/`, {
        username: this.registerForm.username,
        email: this.registerForm.email,
        password1: this.registerForm.password,
        password2: this.registerForm.passwordConfirm
      }).then(res => {
        // console.log(res.data)
        this.registerSuccess = 'Registration successful! Please check your email to confirm your account.'
      }).catch(error => {
        if (error.response.status >= 500) {
          this.registerError = 'Server error. This is being looked into.'
          return
        }

        if ('non_field_errors' in error.response.data) {
          this.registerError = error.response.data.non_field_errors
        } else {
          this.registerError = error.response.data
        }
      })
    },

    signIn (evt) {
      evt.preventDefault()
      this.loginError = ''

      axios.post(`${process.env.API_URL}/rest-auth/login/`, {
        username: this.signInForm.username,
        password: this.signInForm.password
      }).then(res => {
        this.$store.commit('profile/set', res.data)
        this.$router.push('/profile')
      }).catch(error => {
        if (error.response.status >= 500) {
          this.loginError = 'Server error. This is being looked into.'
          return
        }

        if ('non_field_errors' in error.response.data) {
          this.loginError = error.response.data.non_field_errors
        } else {
          this.loginError = error.response.data
        }
      })
    },

    forgot (evt) {
      evt.preventDefault()
      this.forgotError = ''

      axios.post(`${process.env.API_URL}/rest-auth/password/reset/`, {
        email: this.forgotForm.email
      }).then(res => {
        this.forgotSuccess = true
      }).catch(error => {
        if (error.response.status >= 500) {
          this.forgotError = 'Server error. This is being looked into.'
          return
        }

        if ('non_field_errors' in error.response.data) {
          this.forgotError = error.response.data.non_field_errors
        } else {
          this.forgotError = error.response.data
        }
      })
    }
  }
}
</script>
