<template>
  <b-card title="Change password">
    <b-card-text>
      <b-form @submit="changePassword" v-if="changePasswordSuccess === ''">
        <b-form-group label="Current password" label-for="current-password">
          <b-form-input
            id="current-password"
            v-model="changePasswordForm.old_password"
            required
            placeholder="Enter password"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="New password"
          label-for="new-password"
        >
          <b-form-input
            id="new-password"
            v-model="changePasswordForm.new_password1"
            required
            placeholder="Enter password"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-form-group
          label="Confirm new password"
          label-for="new-password-confirm"
          v-bind:description="passwordSame"
        >
          <b-form-input
            id="new-password-confirm"
            v-model="changePasswordForm.new_password2"
            required
            placeholder="Enter password"
            type="password"
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">Change password</b-button>

        <p class="text-danger mt-2">{{ changePasswordError }}</p>
      </b-form>

      <p class="text-success mt-2">{{ changePasswordSuccess }}</p>
    </b-card-text>
  </b-card>
</template>

<script>
import axios from 'axios'

export default {
  data () {
    return {
      changePasswordForm: {
        old_password: '',
        new_password1: '',
        new_password2: ''
      },
      passwordSame: '',
      changePasswordSuccess: '',
      changePasswordError: ''
    }
  },

  methods: {
    changePassword (evt) {
      evt.preventDefault()
      this.passwordSame = this.forgotError = ''

      if (this.changePasswordForm.new_password1 !== this.changePasswordForm.new_password2) {
        this.passwordSame = 'The passwords are different.'
        return
      }

      axios({
        method: 'post',
        url: `${process.env.API_URL}/rest-auth/password/change/`,
        headers: {
          Authorization: `Token ${this.$store.state.profile.apiKey}`
        },
        data: this.changePasswordForm
      }).then(res => {
        this.changePasswordSuccess = res.data.detail
      }).catch(error => {
        if (error.response.status >= 500) {
          this.changePasswordError = 'Server error. This is being looked into.'
          return
        }

        if ('non_field_errors' in error.response.data) {
          this.changePasswordError = error.response.data.non_field_errors
        } else {
          this.changePasswordError = error.response.data
        }
      })
    }
  }
}
</script>
